.audio {
    background: #0963F6;
    padding: 15px 25px;
    border-radius: 15px;
    margin:0 auto;
    position: absolute;
    left: -25px; 
    right: -25px;
    bottom: -75px;
}
@media (max-width: 768px) {
    .audio {
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        background: none;
    }
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .controls {
        justify-content: space-around;
        gap: 20px;
    }
}
.volume {
    background-color: #A8BFEC;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 7px;
}

.volume::-webkit-slider-thumb {
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    width: 14px;
    height: 14px;
    appearance: none;
    margin-top: 0x;
}

.controlsLeft, .controlsRight {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .controlsLeft, .controlsRight {
        gap: 10px;
    }
    input[type = 'range'] {
        display: none;
    }
}

    