.audio {
    background: #0963F6;
    outline: 2px solid black;
    padding: 15px 25px;
    border-radius: 15px;
    margin:0 auto;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: -45px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    i {
        transition: 0.3s linear;
        &:hover {
        color: #FFF;
        }
    }
}

.volume {
    background-color: #A8BFEC;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 7px;
}

.volume::-webkit-slider-thumb {
    background: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    width: 14px;
    height: 14px;
    appearance: none;
    margin-top: 0x;
}

.controlsLeft, .controlsRight {
    display: flex;
    align-items: center;
}



    