.header__container {
    z-index: 15;
    width: 100%;
    position: absolute;
    top: 0px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
@media (max-width: 700px) {
    .header__body {
        padding: 0 10px;
    }
}
.header__logo img {
    padding-top: 15px;
}
@media (max-width: 700px) {
    .header__logo img {
        height: 40px;
    }
}
.header__button button {
    font-variant: small-caps;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    padding: 6px 20px;
    border-radius: 12px;
}
@media (max-width: 700px) {
    .header__button button {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        padding: 5px 10px;
    }
}
.button__up {
    background-color: #1466FF;
    color: #ACD2FE;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: 25px;
    &:hover {
        background: #185FE3;
        box-shadow: 0px 3px 10px rgba(7, 62, 164, 0.53);
    }
    &:active {
        background: #0C52D5;
        box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
    }
    &:disabled {
        background: #5C5C5C;
        box-shadow: none;
    }
}
@media (max-width: 700px) {
    .button__up {
        margin-right: 10px;
    }
}
.button__in {
    background-color: rgba(217, 230, 255, 0.45);
    color: #1466FF;
    border: 1px solid #1466FF;
    &:hover {
        background: #BCD8FC;
        border: 1px solid #2F75F8;
    }
    &:active {
        background: #67B0FC;
        border: 1px solid #1466FF;
    }
    &:disabled {
        background: #ECECEC;
        border: 1px solid #25282B;
        color: #25282B;
    }
}

.header_container {
    align-self: start;
    display: flex;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.menu_container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-right: 10px;
    position: relative;
}

.menu_vis {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1466FF;
    color: #FFFFFF;
    border-radius: 0;
}

.menu {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1466FF;
    color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
}

.menu_drop_vis {
    width: 100%;
    position: absolute;
    top: 100%;
    background: rgba(9, 78, 207, 0.69);
    border-radius: 0px 0px 9px 9px;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
            background: rgb(9, 78, 207);
        }
        &:last-child:hover {
            border-radius: 0px 0px 9px 9px;
        }
    }
}

.menu_drop {
    display: none;
}

.drop_item {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.arrow {
    padding-left: 10px;
    margin-top: -5px;
    display: inline
}

.arrow_vis {
    padding-left: 10px;
    margin-top: 5px;
    display: inline
}

.arrow_up {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(225deg);
}

.arrow_down {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
}

.userHi {
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #1466FF;
    color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
    min-width: 250px;
}

.user_logo {
    padding-top: 5px;
    max-height: 42px;
    border-radius: 50%;
}

.user_settings {
    cursor: pointer;
}