.header__container {
    z-index: 15;
    width: 100%;
    position: absolute;
    top: 0px;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.header__logo img {
    padding-top: 15px;
}

.header__button button {
    font-variant: small-caps;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    padding: 6px 20px;
    border-radius: 12px;
}

.button__up {
    background-color: #1466FF;
    color: #ACD2FE;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-right: 25px;
}

.button__up:hover {
    background: #185FE3;
    box-shadow: 0px 3px 10px rgba(7, 62, 164, 0.53);
}

.button__up:active {
    background: #0C52D5;
    box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
}
.button__up:disabled {
    background: #5C5C5C;
    box-shadow: none;
}

.button__in {
    background-color: rgba(217, 230, 255, 0.45);
    color: #1466FF;
    border: 1px solid #1466FF;
}
.button__in:hover {
    background: #BCD8FC;
    border: 1px solid #2F75F8;
}
.button__in:active {
    background: #67B0FC;
    border: 1px solid #1466FF;
}

.button__in:disabled {
    background: #ECECEC;
    border: 1px solid #25282B;
    color: #25282B;
}

.header_container {
    align-self: start;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.menu {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1466FF;
    color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
    min-width: 250px;
}

.arrow {
    padding-left: 10px;
    margin-top: -5px;
    display: inline
}

.arrow_down {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.userHi {
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #1466FF;
    color: #FFFFFF;
    border-radius: 0px 0px 9px 9px;
    min-width: 250px;
}

.user_logo {
    padding-top: 5px;
    max-height: 42px;
    border-radius: 50%;
}


