.resultModule {
    padding-bottom: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .resultModule {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }
}

.recognitionButton {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #DAEDFF;
    background: #1466FF;
    box-shadow: 0px 3px 10px rgba(7, 62, 164, 0.53);
    border-radius: 30px;
    .btnBird {
        margin-left: 15px;
        width: 40px;
        height: 40px;
    }
}

.recognitionButton:hover {
    background: #185FE3;
}

.recognitionButton:active {
    background: #0C52D5;
    box-shadow: inset 2px 7px 10px rgba(0, 0, 0, 0.25);
}

.resultContainer {
    padding: 15px 40px;
    background: rgba(64, 140, 255, 0.6);
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .resultContainer {
        background: none;
        padding: 15px 0;
    }
}

.sectionTittle {
    margin-left: -40px;
    padding: 5px 100px 5px 40px;
    font-size: 34px;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #1466FF;
    border-radius: 0px 30px 30px 0px;
}

@media (max-width: 768px) {
    .sectionTittle {
        margin-left: -40px;
        font-size: 25px;
        margin: 0;
        padding: 20px;

        h3 {
            margin: 0;
        }
    }
}